fastapi
uvicorn
pandas
python-multipart
python-dotenv
gunicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
fastapi-sqlalchemy
alembic
scikit-learn
numpy
aiofiles
jinja2
python-dateutil
requests
sqlalchemy-utils
databases[postgresql]
asyncpg
pydantic<3.0.0
pydantic-settings
email-validator 